
.page-footer{
    color: #593824
    text-align: center;
    background-color: rgba(247, 235, 213, 0.56);
  }


nav{
    background-color: rgba(247, 235, 213, 0.56);
}



.slider .slides {
    background-color: transparent;
    margin: 0;
    height: 400px;
}

img{
    max-wdith: 100%
}
.slider .slides li img {
   
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    padding-top: 50px;
    flex: 1 0 auto;
  }


  .technologies{
      color: rgb(0, 154, 120);
  }

  