body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
  }

  main {
    padding-top: 50px;
    flex: 1 0 auto;
  }


  .technologies{
    font-family: 'Istok Web', sans-serif;
    /* font-family: 'Francois One', sans-serif; */
      /* font-family: 'Maven Pro', sans-serif; */
      line-height: 1.5em;
      font-weight: bold;
      color: rgb(138, 24, 4);

  }

  #project-name{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    line-height: 1.5em;
    /* font-family: 'Didact Gothic', sans-serif; */
    
    text-decoration: underline;
  }

  .project-blurb {
    /* font-family: 'Cabin', sans-serif; */
     /* font-family: 'Quicksand', sans-serif; */
     font-family: 'Questrial', sans-serif; 
  }

  .title {
    font-family: 'Questrial', sans-serif; 
    font-weight: bold;
  }

  .project-link {
      font-family: 'Questrial', sans-serif;
      font-size: 15px;
  }
  
  .link {

        color: #eeb136;
        font-weight: bold;
      /* color: black; */
  }





.page-footer{
    /* color: #593824; */
    text-align: center;
    background-color: #222
  }


nav{
    background-color: #222;
    color: #FFF;
    /* text-align: center; */
}

nav ul {
    text-align: center;
    padding-left: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
}
ul, menu {
    text-align: center;
    display: block;
    /* list-style-type: disc; */
    background-color: #222;
}
.menu-item{
    text-align:center;
}

header{
    background-color: #222;
    color: #FFF;
    padding-bottom: 3%;
}

.innerWrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 1%;
    border-left: 5px double #222;
    border-left-width: 5px;
    border-left-style: double;
    border-left-color: rgb(34, 34, 34);
    border-right: 5px double #222;
    border-right-width: 5px;
    border-right-style: double;
    border-right-color: rgb(34, 34, 34);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


#about-description{
    max-width: 400px;
    font-family: 'Questrial', sans-serif; 
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 40px;
    /* float: right; */
}

.about-title{
    font-family: 'Questrial', sans-serif; 
}


.about{
    border-top: none;
    padding-bottom: 10%;
    padding-top: 7%;
    margin-top: 2px;
    width: 80%;
    margin: 0 auto;
}

.img-circle{
    border-radius: 50%;
    border: solid 2px #692d04;
}



.resume-div{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-container{
    font-family: 'Questrial', sans-serif; 
    border-top: none;
    padding-bottom: 10%;
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2em;
}


.resume-button{
    margin-top: 40px;
 /* color: black;
background-color: white; */

}



/* .slider .slides {
    background-color: transparent;
    margin: 0;
    height: 400px;
} */
/* 
img{
    max-wdith: 100%
}
.slider .slides li img {
   
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
} */


  