body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    padding-top: 50px;
    flex: 1 0 auto;
  }


  .technologies{
      color: #df8d00;
  }

.page-footer{
    /* color: #593824; */
    text-align: center;
    background-color: rgba(247, 235, 213, 0.56);
  }


nav{
    background-color: #222;
    color: #FFF;
    text-align: center;
}

nav ul{
    text-align: center;
    padding-left: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
}
ul, menu {
    text-align: center;
    display: block;
    list-style-type: disc;
    background-color: #222;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

header{
    background-color: #222;
    color: #FFF;
    padding-bottom: 3%;
}

.innerWrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 1%;
    border-left: 5px double #222;
    border-left-width: 5px;
    border-left-style: double;
    border-left-color: rgb(34, 34, 34);
    border-right: 5px double #222;
    border-right-width: 5px;
    border-right-style: double;
    border-right-color: rgb(34, 34, 34);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


#about-description{
    max-width: 400px;
    /* float: right; */
}

.img-circle{
    border-radius: 50%;
}


.about{
    width: 80%;
    
}


/* .slider .slides {
    background-color: transparent;
    margin: 0;
    height: 400px;
} */
/* 
img{
    max-wdith: 100%
}
.slider .slides li img {
   
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
} */


  